################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.vsidx
/.vs/Windows_Notices/v17
/QF.Api/bin/Debug/net8.0
/QF.Api/obj
/QF.Notices/bin
/QF.Notices/obj
